@import "~@fluentui/react/dist/sass/References.scss";

.supply {
  overflow: hidden;
  padding: 1em;
  color: var(--bodyText, #323130);
}

.supply.teams {
  font-family: $ms-font-family-fallbacks;
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links a {
  text-decoration: none;
  color: var(--link, #03787c);

  &:hover {
    text-decoration: underline;
    color: var(--linkHovered, #014446);
  }
}

div {
  text-align: left;
}

.refreshButton {
  margin-right: 10px;
}
